<?xml version="1.0"?>
<config>
	<global>
		<models>
            <categoryslider>
                <class>Sm_Categoryslider_Model</class>
            </categoryslider>
        </models>
		<blocks>
            <categoryslider>
                <class>Sm_Categoryslider_Block</class>
            </categoryslider>
        </blocks>				
		<helpers>
            <categoryslider>
                <class>Sm_Categoryslider_Helper</class>
            </categoryslider>
        </helpers>
        <resources>
        	<slider_setup>
        		<setup>
        			<module>Sm_Categoryslider</module>
        		</setup>
				<connection>
					  <use>core_setup</use>
				</connection>
        	</slider_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<categoryslider>
                <use>standard</use>
                <args>
                    <module>Sm_Categoryslider</module>
                    <frontName>categoryslider</frontName>
                </args>
            </categoryslider>
        </routers>
		<layout>
            <updates>
                <categoryslider module="Sm_Categoryslider">
					<file>sm/categoryslider.xml</file>
                </categoryslider>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Categoryslider>
                     <files>
                          <default>Sm_Categoryslider.csv</default>
                     </files>
                </Sm_Categoryslider>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Categoryslider>
                     <files>
                          <default>Sm_Categoryslider.csv</default>
                     </files>
                </Sm_Categoryslider>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<categoryslider_cfg translate="title" module="categoryslider">
											<title>SM Category Slider Settings</title>
										</categoryslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				 <categoryslider module="Sm_Categoryslider">
					<file>sm/categoryslider.xml</file>
                </categoryslider>
			</updates>
		</layout>
	</adminhtml>
	<default>
        <categoryslider_cfg>
			<general>
				<active>1</active>
				<product_links_target>_self</product_links_target>
				<button_display>1</button_display>
			</general>

			<source_options>
				<product_category></product_category>
				<cat_image_display>1</cat_image_display>
				<cat_image_width>210</cat_image_width>
				<cat_image_height>400</cat_image_height>
				<cat_sub_display>1</cat_sub_display>
				<sub_cat_limitation>8</sub_cat_limitation>
				<child_category_products>1</child_category_products>
				<max_depth>1</max_depth>
				<product_featured>0</product_featured>
				<product_order_by>name</product_order_by>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>5</product_limitation>
			</source_options>
				
			<product_options>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>				
				<product_description_display>0</product_description_display>
				<product_description_maxlength>150</product_description_maxlength>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>	
				<product_addcart_display>0</product_addcart_display>
                <product_addwishlist_display>0</product_addwishlist_display>
                <product_addcompare_display>0</product_addcompare_display>
				<product_readmore_display>0</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
				<nb_column1>3</nb_column1>
				<nb_column2>2</nb_column2>
				<nb_column3>1</nb_column3>
				<nb_column4>1</nb_column4>
			</product_options>
	
			<image_options>
				<imgcfg_from_product_image>1</imgcfg_from_product_image>
				<imgcfg_from_product_description>1</imgcfg_from_product_description>
				<imgcfg_order>product_image, product_description</imgcfg_order>
				<imgcfg_function>1</imgcfg_function>
				<imgcfg_width>200</imgcfg_width>
				<imgcfg_height>200</imgcfg_height>
				<imgcfg_constrainOnly>false</imgcfg_constrainOnly>
				<imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
				<imgcfg_keepFrame>true</imgcfg_keepFrame>
				<imgcfg_keepTransparency>true</imgcfg_keepTransparency>
				<imgcfg_background>FFFFFF</imgcfg_background>
				<imgcfg_placeholder>sm/categoryslider/images/nophoto.jpg</imgcfg_placeholder>
			</image_options>
	
			<effect_options>
				<play>1</play>
				<start>1</start>
				<scroll>1</scroll>
				<duration>800</duration>
				<delay>2500</delay>
				<stop>1</stop>
				<effect>frontrow</effect>
			</effect_options>

			<advanced>
				<include_jquery>1</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
        </categoryslider_cfg>
    </default>
</config>